{
    "table": {
        "name": "fashion",
        "type": "Event",
        "time_column": "time",
        "time_column_format": "milliseconds",
        "shard_keys": ["product_id",]
    },
    "ingest": [
        {
            "name": "fashion_import03",
            "data_source_type": "file_system",
            "table_name": "fashion",
            "continuous": 0,
            "start": "today",
            "end": "today",
            "data_source_parameters": 
            {
                "file_pattern": "/tmp/interana/fashion/fashion_mar17.json",
            },
            "data_transformations": [
            ["decode"],
            ["json_load"],
            ["json_dump"]
            ]
        }
    ]
}