{
    "table": {
        "name": "HexTest02",
        "type": "Event",
        "time_column": "ct",
        "time_column_format": "milliseconds",
        "shard_keys": ["username"]
    },
    "ingest": [{
        "name": "HexTest02_import",
        "data_source_type": "file_system",
        "table_name": "HexTest02",
        "continuous": 0,
        "start": "today",
        "end": "today",
        "data_source_parameters": {
            "file_pattern": "/tmp/interana/HexText/HexTest.json",
        },
      "advanced_parameters": {
                "minimum_disk_space": 6000000000,
                "concat_file_size": 500000000,
                "wait_seconds": 30,
            },
        "data_transformations": [
            ["decode",{"encoding": "utf8"}],
            ["json_load",{}],
            ["join",{
                    "columns":["firstName","lastName"],
                    "separator": " ",
                    "output_column": "userName"
                    }
            ],
            ["code_snippet",
                {
                "import_list": ["hashlib"],
                "code": "output = \"\"\nuserString = str(line['userId']).zfill(4)\nfor unit in userString:\n output += hashlib.md5(unit.encode()).hexdigest()[:8]\nline['userId'] = str(output)"
                }
            ],
            ["json_dump",{}]
        ]
    }]
}
